body {
    margin-left: 200px;
    padding: 20px;
    font-size: 14px;
}

#menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 200px;
    overflow: auto;
    background-color: #F0F0F0;
}

table.table-with-sticky-rows {
    border: 1px solid #CCC;
    border-collapse: collapse;
    line-height: 24px;
}

table.table-with-sticky-rows td {
    padding: 6px 12px;
    border: 1px solid #CCC;
}

table.table-with-sticky-rows>thead,
table.table-with-sticky-rows>[class*="header-"] {
    font-weight: bold;
    background-color: #e6ffe5;
}

table.table-with-sticky-rows>.header-2 {
    background-color: #dad8ff;
}

table.table-with-sticky-rows>.header-3 {
    background-color: #ffdfe4;
}

table.table-with-sticky-rows>.header-4 {
    background-color: #fffcda;
}
